li.movie {
	position: relative;

	span {
		float:left;
		margin-left: 10px;
		display:inline-block;
		width: 40px;
		height: 40px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
		border:solid 2px #000;
		font-size:20px;
		background-color: #ea6874;
	}

	img.poster {
		float:left;
		height: 200px;
	}

	h3 {
		float:left;
		width:65%;
		color:#000;
		line-height: 40px;
		margin-left:10px;
		transition: font-size 1s linear;

		&:hover {
			font-size:1.4em;
		}
	}

	ul{
		float:left;
		width:70%;
		padding: 10px 5px 10px;

		li{
			float:left;
			margin: 3px 5px;
			padding: 5px 10px;
			background-color:#929292;
			font-size: 12px;

			&.watched:hover {
				background-color: #929292;
				color:#000;
			}

			&:hover {
				background-color: #5b5a5a;
				color:#fff;
			}
		}
	}

	div.buttons {
		display:flex;
		justify-content:flex-end;
		position:absolute;
		bottom:15px;
		right: 15px;

		img{
			margin:0 10px;

			&:nth-child(2) {
				height: 27px;
			}
		}

		span{
			margin:0 10px;
			background-color: #fff;
			min-width: 29px;
			max-width: 29px;
			height: 29px;
			line-height: 20px;

			&:nth-child(3){
				line-height: 23px;
			}
		}
	}
}

@media all and (max-width:700px) {
	
	li.movie {
		h3 {
			font-size: 16px;
			line-height:40px;
			width:50%;
		}

		ul  {
			width:55%;
		}
	}

	li.movie div.buttons {
		position:relative;
		top:170px;
		right: 0px;
	}
}

@media all and (max-width:550px) {
	li.movie {
		span {
			margin-bottom: 10px;
		}

		img.poster {
			float:none;
			display: block;
			margin: 0 auto;
			height: auto;
			width:60%;
			padding-bottom: 10px;
		}

		h3 {
			width:80%;
			line-height:20px;
		}

		ul{
			float:none;
			width:100%;
			margin-top:10px;
		}

		div.buttons {
			justify-content:center;
			position:static;
		}
	}
}

@media all and (max-width:450px) {
	li.movie {
		h3 {
			width:70%;
		}
	}
}

@media all and (max-width:350px) {
	li.movie {
		img.poster {
			width:100%;
		}
	}
}